<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <propertyWizards>
    <propertyWizard text="PowerShell Property Wizard" 
                    description="" 
                    makeAvailableOffline="false" 
                    minVersionRequired="1.1.0.0" 
                    type="SourceCode.Wizard.PowerShell.Wizard.PowerShellPropertyWizard" 
                    assembly="SourceCode.Wizard.PowerShell.Wizard, Version=1.1.0.0, Culture=neutral, PublicKeyToken=dc7da7b8c944e2f2"
                    name="PowerShell Property Wizard"/>
  </propertyWizards>
  <toolboxCategories>
    <toolboxCategory default="PowerShell Event Wizard" text="Event Wizards" name="ToolboxCategoryEvent">
      <toolboxItems>
        <add name="PowerShell Wizard" />
      </toolboxItems>
    </toolboxCategory>
  </toolboxCategories>
  <wizards>
    <wizard  showInToolbox="true"
             text="PowerShell Wizard" description="Integrate PowerShell script inside the process. Executed by the K2Server" 
            makeAvailableOffline="false" 
            minVersionRequired="1.1.0.0"
            type="SourceCode.Wizard.PowerShell.Wizard.PowerShellWizard"
            assembly="SourceCode.Wizard.PowerShell.Wizard, Version=1.1.0.0, Culture=neutral, PublicKeyToken=dc7da7b8c944e2f2" 
            name="PowerShell Wizard" >
      <propertyWizards>
        <add name="Event General Property Wizard" />
        <add name="PowerShell Property Wizard" />
        <add name="Exception Rule" />
      </propertyWizards>
    </wizard>
  </wizards>
</configuration>